<div class="h-screen flex flex-col">
    <footer class="bg-orange-200 text-gray-600  fixed bottom-0 left-0 right-0">
        <div class="container mx-auto ">
            <div class="flex flex-wrap justify-center">
                <div class="w-full md:w-1/2 xl:w-1/3 p-4">
                    <h5 class="text-lg font-bold mb-2">About Us</h5>
                    <p class="text-sm">Bookworm's Burrow is a comprehensive library management system designed to streamline your library operations and enhance the reading experience for your patrons. With our user-friendly interface and powerful features, you can easily manage your library's collection, track circulation, and provide personalized recommendations to your readers.</p>
                </div>
                <div class="w-full md:w-1/2 xl:w-1/3 p-4">
                    <h5 class="text-lg font-bold mb-2">Quick Links</h5>
                    <ul class="list-none mb-0">
                        <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">Home</a></li>
                        <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">About</a></li>
                        <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">Contact</a></li>
                    </ul>
                </div>
                <div class="w-full md:w-1/2 xl:w-1/3 p-4">
                    <h5 class="text-lg font-bold mb-2">Get in Touch</h5>
                    <p class="text-sm">We're always happy to hear from you. Whether you have questions, feedback, or just want to chat about books, we're here to help.</p>
                    <ul class="list-none mb-0">
                        <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">Email: kskarim177@gmail.com</a></li>
                        <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">Phone: 019********</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center pb-2">
            <p class="text-sm">© {% now "Y" %} Bookworm's Burrow - A Library Management System by <a class="text-gray-600 underline font-bold hover:text-gray-900" href="https://www.google.com">Khalz</a>. All rights reserved.</p>
        </div>
    </footer>
</div>