{% extends 'base.html' %} 
{% load static %} 

{% block head_title %}Bookworm's Burrow{% endblock %} {% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">

    
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start  pb-24 px-6 bg-white rounded-2xl bg-opacity-70 mx-3">
        <h1 class="font-bold text-4xl my-4">Welcome to Bookworm's Burrow</h1>
        <h2 class="leading-normal mb-4 font-semibold text-3xl">
            Discover your next great book! 
        </h2>
        <p>BookPage highlights the best new books across all genres, as chosen by our editors. Every book we cover is one that we are excited to recommend to readers. A star indicates a book of exceptional quality in its genre or category.</p>
        {% if not request.user.is_authenticated %}
        <div class="flex justify-end w-full mt-3">
            <a href="{% url 'register' %}" class="bg-orange-600 text-white rounded-none hover:bg-white hover:text-orange-600 hover:border-orange-600 shadow rounded-2xl hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Register Now</a>
        </div>
        
    
        {% endif %}
    </div>
    <div class="w-full lg:w-1/2 lg:py-6 text-center shadow-lg ">
        <img class ="rounded-2xl" src ="{% static './img/burrow.png' %}"/>
    </div>



    

</div>


<nav class="bg-white shadow mb-10 rounded-3xl">
    <div class="container mx-auto text-xl px-4 py-3">
      <ul class="flex space-x-10">
        {% if category %}
        {% for c in category %}
        <div class="form-check form-check-inline" >
            <input type="checkbox " class="form-checkbox sr-only" name="category" id="{{c.id}}"  >
            <label class="form-check-label" for="{{c.id}}">
                {% if c.slug %}
                <a href="{% url 'category_wise_post' c.slug %}" class="text-gray-700 hover:text-gray-900 font-medium">{{ c.name }}</a>
                {% else %}
                <span class="text-gray-500 font-medium">{{ c.name }}</span>
                {% endif %} 
            </label>        
        </div>
        {% endfor %} 
        {% endif %}
      </ul>
    </div>
</nav>


<div class="grid grid-cols-2 gap-4 ">
    {% for post in data %}
        <div class=" ">
            <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-200 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                {% if post.image %}
                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="{{post.image.url}}" alt="">
                {% else %}
                    <p>No image available.</p>
                {% endif %}
                {% comment %} <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="{{post.image.url}}" alt=""> {% endcomment %}
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{post.title}}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{post.description |truncatewords:30}}</p>
                    <p><span class="font-bold text-xl">Borrow price: </span class="font-semibold">${{post.price}}</p>
            
                    <div class="flex gap-4 mt-2">
                        <p class=' text-xl font-bold'>
                            Genres: 
                            {% for cat in post.category.all %}
                            <button type="button" class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">{{cat.name}}</button>
                            {% endfor %}
                        </p>
                        
                    </div>
                </div>
                <a href="{% url 'detail_post' post.id %}" class="bg-yellow-700 text-white rounded-none hover:bg-white hover:text-yellow-700 hover:border-yellow-700 shadow rounded-2xl hover:shadow-lg py-2 px-4 border border-yellow-700 hover:border-transparent">Book Details</a>
            </a>
        </div>
    {% endfor %}
 
  </div>


{% endblock %}